body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f39c12;
    padding: 20px;
    text-align: center;
    color: black;
}

.header a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.header a:hover {
    color: rgb(144, 0, 228);
}

.back-button {
    float: left;
    margin-right: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.back-button:hover {
    text-decoration: underline;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 150px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 15px;
    font-weight: bold;
    color: #555;
    width: 100%;
    text-align: left;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #ffa500;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

button {
    margin-top: 20px;
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

button:hover {
    background-color: #e69500;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #ffa500;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
}

p {
    margin: 0;
}

.register-button {
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.register-button:hover {
    background-color: #e69500;
}
